<!DOCTYPE html> <html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
User Registration
<form method="post">
    userName : <input type="text" name="uname" />
    <br/>
    Password : <input type="text" name="pass" />
    <br/>
    Email : <input type="text" name="email" />
    <br/>
    City : <input type="text" name="city" />
    <br/>
    <button>Register</button>

</form>
</body>
</html>